<h1>Super Important Things</h1>

<% if logged_in? %>
<section id='new_article'>
	<%= link_to "Create New Article", new_article_path, class: 'create_article' %>
</section>
<% end %>

<section>
	<ul id="articles">
	  <% @articles.each do |article| %>
	    <li>
	      <%= link_to article.title, article_path(article), class: 'article_title' %>
	    </li>
	  <% end %>
	</ul>
</section>
